body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  video, canvas {
    border: 1px solid black;
    margin: 10px;
  }
  
  #object-name {
    font-size: 18px;
    font-weight: bold;
    color: red;
    margin-top: 10px;
  }